img {
	border    : 10px solid gray;
	transition: 1s;
	opacity   : 0;
}

img.b-loaded {
	opacity     : 1;
	border-color: purple;
}

figure {
	/*border             : 10px solid red;*/
	background-image   : url('../images/gears.gif');
	background-repeat  : no-repeat;
	background-position: center;
}